body{
    background-image:url('/img/imgsBackground/background4.webp');
}

.bio{
    color: white;
    position:static;
}

.bio img{
    width: 20%;
    border:solid;border-color:black;border-radius: 50%;
}

.bio h1{
    font-size:50px;
    padding-top:10px;
}

#icon img{
    width: 20px;
    animation-name:alien;
    animation-duration:130s;
    position:relative;
}

@keyframes alien {
    0%   {left:0%; top:0px;}
    25%  {left:90%; bottom:90%;}
}

/* Style Parallax */

.parallax-window {
    height:1500px;
    background: transparent;
}