body{
    background-image: url('../img/imgsBackground/background-home.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    font-family: sans-serif;
}

main{
    font-size:50px;
    padding-top:4%;
}

#atalhosIndex{
    display:grid;
    justify-content: center;
    padding-top:2%;
}

li {
    border:solid purple;
    border-radius:10px; 
}

li:hover{
    transform: translateY(3px);
}

/* Animation */

#icon img{
    width: 20px;
    animation-name:alien;
    animation-duration:50s;
    position:relative;
    padding-top:2%;
}

@keyframes alien {
    0%   {left:0%; top:0px;}
    50%  {left:45%}
}

/* response */

@media screen and (min-height:400px) and (max-height:500px) {
    .atalhosIndex{
        padding-top:10%;
        color:red;
    }
}



