*{
  padding:0;
  margin:0;
}

html{
  width:100%;
  height:200%;
}

#containerApresentation{
  overflow: hidden;
  height:525px; 
  background-color:black;
}

#containerTexto{
  width:400px;
  font-size: 26px;
  padding-left:10%;
}

#containerApresentation h1{
  color:whitesmoke;
}

#containerAtalhos{
  height:530px;
  background-image: url("/img/imgsBackground/background-home.jpg");
  
}