.containerQuadros{
    display:flex;
    justify-content: center;
}

.quadros{
    align-items: center;
    width:70%;
    padding-top:2%;
    text-align: center;
    background-color:white;
    border:solid black;
    border-radius:1%;
}

.quadros img{
    width:97%;
    border:solid black;border-radius:2%;
}

.quadros h1{
    font-size:50px;
    margin-bottom:2%;
    color:black;
}

.quadros p{
    color:black;
    font-size:30px;
    padding-top:2%;
}

@media screen and (min-width:300px) and (max-width:400px) {
    .quadros h1{
        font-size:30px;
    }

    .quadros p{
        font-size:10px;
    }
}

@media screen and (min-width:400px) and (max-width:500px) {
    .quadros h1{
        font-size:20px;
    }

    .quadros p{
        font-size:10px;
    }
}