html{
    width:100%;
    height:100%;
}

.containerAulas{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-items:center;
    gap:20px;
}

.aulas{
    background-color:whitesmoke;
    width:50%;height:auto;
    border:solid;border-color:black;border-radius:10px;
    text-align:center;
}

h2{
    padding-right:11%;
    padding-top:10%;
}

.link{
    margin-right:13%;
    text-decoration:none;
    color:black;
}

ul{
    list-style: none;
}

ul a:hover{
    text-decoration:underline blue;
}

.parallax-window{
    height:1300px;
}