/* Pokemon image adjustment */

img{
    width:100%;
}

#pokedexImg{
    width:100%;
}


/* body element */
    /* pulls the image from the vs code repository and sets it as the page's background image. */

body{
    background-image:url("../img/background-pokedex4.webp");/* Gets a background image from the vs_code repository with the url and sets it as the page's background image */
    background-size:cover;
    font-family:Verdana; 
    font-weight: bold; 
}

/* Main Element */
/* makes the main content of the page flexible and centralizes it. */

main{
    display:flex;
    justify-content:center; 
}

/* #figPokedex */
/* makes the pokédex image a flex item, centers the item, and sets the width and height to 400 and 600px. */

p{
    position:absolute;
    bottom:75%;
    left:50%;
    color:whitesmoke;
    font-family:cursive;
    text-decoration:underline;
}

#figPokedex{
    display:flex; 
    justify-content:center;
    width:400px; 
    height:600px; 
}

/* #containerImagem */
/* sets the image container as a relative position item. */

#containerImagem{
    position:relative; 
}

/* #imagemPoke */
/* defines the pokémon figure as relative and positions the figure within the pokedex screen with the top and left properties. */ 

#imagemPoke{
    position:absolute; 
    top:28%;
    left: 20%; 
}

/* #inputForm */
/* positions the input below the image area with the top and left properties. */

#inputForm{
    position:absolute;
    top: 55%;
    left:28%;
}

/* #nomePokemon */
/* positions the nomePokemon item at the top of the information area, to the right of the idPokemon item and below the entry with the bottom and left properties. */

#nomePokemon{
    position:absolute;
    bottom:32%;
    left:48%;
}

/* #idPokemon */
/* places the idPokemon item at the top of the information area to the left of the nomePokemon item below the input with the bottom and left properties. */

#idPokemon{
    position:absolute;
    bottom:32%;
    left:28%;
}

/* The same type1 and type2 definitions as information 1 and 2 with the difference of 1% offset from the top. */ 

#nomePokemon, #idPokemon{
    background-color:whitesmoke;
    width:17%;height:3.5%;
    text-align: center;
    border-radius:5px;
    font-size:55%;
    color:black;
    padding-top:1%;
    box-shadow:-2px 2px black; 
}

/* #tipo1 */
/* places the item tipo1 in the absolute position and positions it below the idPokemon with the bottom and left properties. */

#tipo1{
    position:absolute;
    bottom:26%;
    left:28%;
    padding-top:1%;
}

/* #tipo2 */
/* places the item tipo2 in the absolute position and positions it below the nomePokemon with the bottom and left properties. */

#tipo2{
    position:absolute;
    bottom:26%;
    left:48%;
    padding-top:1%;
}

#informacoes1, #informacoes2{
    color:black;
    background-color:whitesmoke;
    font-size:58%;
    border-radius:5px;
    width:39%;
    text-align: center;
    box-shadow:-2px 2px black; 
}

/* #informacoes2 */
/* sets the position of the informacoes2 item to absolute and positions it below informacoes1 and above the back and forward buttons with the bottom and left properties. */

#informacoes2{
    position:absolute;
    bottom:17%;
    left:27.2%;
}

/* sets the background color of the types div to white, the width to 17% and the height to 3.5%, a text-align center to align the text to the center, a radial border of 5px and a box-shadow of 2px. */

#tipo1, #tipo2{
    background-color:whitesmoke;
    width:17%;height:3.5%;
    text-align: center;
    border-radius:5px;
    box-shadow:-2px 2px black; 
}

/* #botoes */
/* sets the position of the buttons to absolute and positions them on the floor of the pokédex below the other items with the bottom and left properties. */

#botoes{
    position:absolute;
    bottom:-20%;
    left:42.3%;
}

/* #btnVoltar & btnProx */
/* sets the buttons background color to yellow, adds a box shadow to give the button a shadow, and adds a radial border to the button to give it a round shape. */

#btnVoltar, #btnProx{
    background-color:whitesmoke;
    box-shadow:-2px 2px black; 
    border-radius:5px;
}

/* #lupa */
/* sets the magnifying glass position to absolute and positions it to the left of the input element with a width size of 10px. */

#lupa{
    position:absolute;
    bottom:42.5%;
    left:24%;
    width:10px;
}

/* Responsive */

/* changes the positions of each item if there is a break in the layout patterns */


@media screen and (min-height:439px) and (max-height:440px) { /* min-height:500px and max-height:1000px */
    #botoes{
        bottom:-35%;
        left:33%;
    }
}

@media screen and (min-height:500px) and (max-height:557px) { /* min-height:500px and max-height:1000px */
    #botoes{
        bottom:-50%;
        left:33%;
    }
}

@media screen and (min-height:675px) and (max-height:676px) { /* min-height:500px and max-height:1000px */
    #botoes{
        bottom:12%;
        left:43%;
    }
}

@media screen and (min-height:580px) and (max-height:600px) { /* min-height:500px and max-height:1000px */
    #botoes{
        bottom:-1%;
        left:43%;
    }
}


@media screen and (min-height:700px) and (max-height:2000px) { /* min-height:500px and max-height:1000px */
    #botoes{
        bottom:25.5%;
        left:44%;
    }
}

@media screen and (min-height:1400px) and (max-height:1600px) { /* min-height:500px and max-height:1000px */
    #botoes{
        bottom:60%;
        left:47%;
    }
 
}


@media screen and (min-width:700px) and (max-width:1000px) { /* min-height:500px and max-height:1000px */
    #botoes{
        bottom:-18%;
        left:40%;
    }
}

@media screen and (min-width:760px) and (max-width:1000px) { /* min-height:500px and max-height:1000px */
    #botoes{
        bottom:-34%;
        left:41%;
    }
 
}

