body {
    background-color: white;
}

div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

    img {
        border-radius: 200px;
        
    }

    p {
        font-size: 20px;
    }

    p1{
        font-size: 20px;
    }
}

